// cassiopeia variables

// Global
$white-offset: #fefefe;
$cassiopeia-border-color: #ccc !default;
$cassiopeia-box-shadow: 0 0 3px rgba(0, 0, 0, .04) !default;
$input-max-width: 100%;
// Modals
$modal-header-height: 46px;
